
# =========================
# Directories potentially created on remote AFP share
# Files that might appear on external disk
# Folder config file
# Icon must end with two \r
# OSX
# Operating System Files
# Recycle Bin used on file shares
# Thumbnails
# Windows Installer files
# Windows image file caches
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
._*
.apdisk
.asset-cache
.dockerignore
.editorconfig
.jekyll-metadata
.ruby-version
/_assets/
/_build/
/_buildApi/
/_common/root/
/_data/
/_includes/
/_layouts/
/_plugins/
/_templates/
/_tools/RemoveHtmlExtensionFromApiRefSitemap/
/docs-watcher/
/favicon.ico
/fonts/
/styles/
=======
CODEOWNERS
Desktop.ini
Dockerfile
Gemfile
Gemfile.lock
Icon
Network Trash Folder
Temporary Items
Thumbs.db
_site
_tempconfig.yml
api/aspnet-mvc
bs-config.js
build-docs.sh
copy_content.sh
copy_local.sh
ehthumbs.db
exclude.txt
install-npm.sh
knowledge-base.html
modify-config.sh
robots.txt
search.html
start-docs.sh
watch.sh
watch.sh/_assets/
