
# =========================
# Directories potentially created on remote AFP share
# Files that might appear on external disk
# Folder config file
# Icon must end with two \r
# Operating System Files
# OSX
# Recycle Bin used on file shares
# Thumbnails
# Windows image file caches
# Windows Installer files
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.asset-cache
.dockerignore
.DS_Store
.editorconfig
.jekyll-metadata
.LSOverride
.ruby-version
.Spotlight-V100
.Trashes
/_assets/
/_common/root/
/_data/
/_includes/
/_layouts/
/_plugins/
/_templates/
/docs-watcher/
/favicon.ico
/fonts/
/styles/
_site
_tempconfig.yml
=======
api/aspnet-mvc
bs-config.js
build-docs.sh
copy_content.sh
copy_local.sh
Desktop.ini
Dockerfile
ehthumbs.db
Gemfile
Gemfile.lock
Icon
install-npm.sh
knowledge-base.html
Network Trash Folder
robots.txt
search.html
start-docs.sh
Temporary Items
Thumbs.db
watch.sh
watch.sh/_assets/
