<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appSettings>
        <clear />
    </appSettings>

    <system.web>
        <httpRuntime maxRequestLength="102400" maxUrlLength="102400" maxQueryStringLength="10000" requestValidationType="System.Web.Util.RequestValidator" />

        <httpModules>
            <clear />
        </httpModules>

        <httpHandlers>
            <clear />
        </httpHandlers>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />

        <rewrite>
            <rules>
{% for directory in site.redirect_directories %}
<rule name="redirect-directory-{{ directory.path | replace: '/', '-' }}" enabled="true"><match url="^{{ directory.path }}/?$" /><conditions logicalGrouping="MatchAll"><add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" /></conditions><action type="Redirect" url="{{ directory.url }}" redirectType="Found" /></rule>
{% endfor %}
{% for page in site.redirect_pages %} {% for redirect in page.previous_url %}
<rule name="redirect-{{ redirect | remove_first: '/' | replace: '/', '-' }}" enabled="true" stopProcessing="true"><match ignoreCase="false" url="^{{ redirect | remove_first: '/' }}$" /><action type="Redirect" url="{{ page.url | remove_first: '/' | replace: '.html', '' }}" /></rule>
{% endfor %}{% endfor %}
                <rule name="redirect-" enabled="true" stopProcessing="true">
                    <match url="^$" />
                    <action type="Redirect" url="introduction" />
                </rule>
                <rule name="add_html_extension" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
				<rule name="getting-started-overview" enabled="true" stopProcessing="true">
					<match url="^getting-started$" />
					<action type="Redirect" url="getting-started/installation-instructions" />
				</rule>
				<rule name="getting-started-overview-html" enabled="true" stopProcessing="true">
					<match url="^getting-started.html$" />
					<action type="Redirect" url="getting-started/installation-instructions" />
				</rule>
				<rule name="rapid-testing-with-justcode" enabled="true" stopProcessing="true">
					<match url="^basic-usage/rapid-testing-with-justcode$" />
					<action type="Redirect" url="introduction" />
				</rule>
				<rule name="rapid-testing-with-justcode-html" enabled="true" stopProcessing="true">
					<match url="^basic-usage/rapid-testing-with-justcode.html$" />
					<action type="Redirect" url="introduction" />
				</rule>
				<rule name="openaccess-mocking" enabled="true" stopProcessing="true">
					<match url="^advanced-usage/openaccess-mocking$" />
					<action type="Redirect" url="introduction" />
				</rule>
				<rule name="openaccess-mocking-html" enabled="true" stopProcessing="true">
					<match url="^advanced-usage/openaccess-mocking.html$" />
					<action type="Redirect" url="introduction" />
				</rule>
				<rule name="scenarios" enabled="true" stopProcessing="true">
					<match url="^scenarios.html$" />
					<action type="Redirect" url="scenarios/setup-callbacks-with-ref-and-out-parameters" />
				</rule>
                <rule name="Hide .html ext">
                    <match ignoreCase="true" url="^(.*)"/>
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" pattern="\.png|\.css|\.jpg|\.gif" negate="true" />
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile"/>
                    </conditions>
                    <action type="Rewrite" url="{ToLower:{R:0}.html}" />
                </rule>
                <rule name="Redirecting .html ext" stopProcessing="true">
                    <match url="^(.*).html$"/>
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="(.*).html$"/>
                    </conditions>
                    <action type="Redirect" url="{ToLower:{R:1}}"/>
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-cache" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
        <httpErrors errorMode="Custom" defaultResponseMode="File" >
            <remove statusCode="404" />
            <error statusCode="404" path="40x.html" />
       </httpErrors>
    </system.webServer>

</configuration>
