---
title: Verification Step
page_title: Verification Step
description: "Progress® Test Studio® for APIs - Steps - Verification Step"
position: 4
published: true
---

# Verification Step

## Overview

The Verification Step is used to group several verifications in one place, usually because they have logical relation, or just need to be skipped if certain Condition fails.

![Verification Step][1]



> See <a href="/features/verifications">Verifications</a> for information about how to configure Step's Verifications.


## Usages

* Verify variable created by Set Variable Step.
* Define logical groups of verifications, for example when verifying certain areas from a large object.
* <a href="/features/condition">Conditionally</a> disable certain verifications, for example when on specific test environment.



[1]: /img/features/steps/verification.png

