---
title: Quick Verification
page_title: Quick Verification
description: "Test Studio provides quick verification sugestions during recording. Add verification in Test Studio test with one click."
previous_url: /user-guide/verifications/quick-verification.aspx, /user-guide/verifications/quick-verification, /features/verifications/quick-verification
position: 2
---
# Add a Quick Verification #

Add a Quick Verification

The easiest and fastest way to add a verification to your test is through the Quick Tasks menu.

1.&nbsp; Create a Web Test and click Record.

2.&nbsp; Navigate to <a href="http://www.bing.com" target="_blank">bing.com</a>

3.&nbsp; Enter _Telerik_ in the search box and click the __Search__ button.

4.&nbsp; Enable hover over highlighting by clicking Highlight Element in the Test Studio Recorder.

![Enable hover over](/img/features/recorder/verifications/quick-verification/fig1.png)

5.&nbsp; In the recording browser window, hover over the element against which to verify. Choose **Quick Steps > Verify - text contains** entry.

![highlight telerik](/img/features/recorder/verifications/quick-verification/fig2.png)

6.&nbsp; The Verify step is added to the test.

![test steps](/img/features/recorder/verifications/quick-verification/fig3.png)
<br />
<br />
<br />
**See Also...**

* <a href="/features/recorder/verifications/advanced-verification" target="_blank">Advanced verification</a>
