<?xml version="1.0" encoding="utf-8" ?> 
<rewriter> 
  <!-- previous_url: /user-guide/modifying-tests/steps-pane-overview.aspx, /user-guide/modifying-tests/steps-pane-overview -->
  <redirect url="/teststudio/user-guide/modifying-tests/steps-pane-overview" to="/teststudio/features/test-maintenance/steps-pane-overview"/>
  <redirect url="/teststudio/user-guide/modifying-tests/steps-pane-overview.aspx" to="/teststudio/features/test-maintenance/steps-pane-overview"/>
  <!-- previous_url: /user-guide/modifying-tests/search_test_steps.aspx, /user-guide/modifying-tests/search_test_steps -->
  <redirect url="/teststudio/user-guide/modifying-tests/search_test_steps" to="/teststudio/features/test-maintenance/search-test-steps"/>
  <redirect url="/teststudio/user-guide/modifying-tests/search_test_steps.aspx" to="/teststudio/features/test-maintenance/search-test-steps"/>
  <!-- previous_url: /user-guide/modifying-tests/reorder-test-steps.aspx, /user-guide/modifying-tests/reorder-test-steps -->
  <redirect url="/teststudio/user-guide/modifying-tests/reorder-test-steps" to="/teststudio/features/test-maintenance/reorder-test-steps"/>
  <redirect url="/teststudio/user-guide/modifying-tests/reorder-test-steps.aspx" to="/teststudio/features/test-maintenance/reorder-test-steps"/>
  <!-- previous_url: /user-guide/modifying-tests/change-step-target-element.aspx, /user-guide/modifying-tests/change-step-target-element -->
  <redirect url="/teststudio/user-guide/modifying-tests/change-step-target-element" to="/teststudio/features/test-maintenance/change-step-target-element"/>
  <redirect url="/teststudio/user-guide/modifying-tests/change-step-target-element.aspx" to="/teststudio/features/test-maintenance/change-step-target-element"/>
  <!-- previous_url: /getting-started/create-test-standalone/wpf-test -->
  <redirect url="/teststudio/getting-started/create-test-standalone/wpf-test" to="/teststudio/features/testing-types/wpf-testing/wpf-test"/>
  <!--previous_url: teststudio/index-->
  <redirect url="teststudio/index" to="/teststudio/welcome"/>
  <!-- previous_url: /teststudio/features/scheduling-test-runs/change-service-account -->
  <redirect url="/teststudio/features/scheduling-test-runs/change-service-account" to="/teststudio/features/scheduling-test-runs/advanced-topics/change-service-account"/>
  <!-- previous_url: /teststudio/features/scheduling-test-runs/tts-command-line-client -->
  <redirect url="/teststudio/features/scheduling-test-runs/tts-command-line-client" to="/teststudio/features/scheduling-test-runs/advanced-topics/tts-command-line-client"/>
  <!-- previous_url: /teststudio/features/scheduling-test-runs/advanced-topics/using-service-api -->
  <redirect url="/teststudio/features/scheduling-test-runs/using-service-api" to="/teststudio/features/scheduling-test-runs/advanced-topics/using-service-api"/>
  <!-- previous_url: /teststudio/features/scheduling-test-runs/advanced-topics/migrate-database -->
  <redirect url="/teststudio/features/scheduling-test-runs/migrate-database" to="/teststudio/features/scheduling-test-runs/advanced-topics/migrate-database"/>
  <!-- previous_url: /user-guide/knowledge-base/project-configuration/register-certificate-for-https-connection.aspx, /user-guide/knowledge-base/project-configuration/register-certificate-for-https-connection -->
  <redirect url="/teststudio/user-guide/knowledge-base/project-configuration/register-certificate-for-https-connection" to="/teststudio/knowledge-base/project-configuration-kb/register-certificate"/>
  <redirect url="/teststudio/user-guide/knowledge-base/project-configuration/register-certificate-for-https-connection.aspx" to="/teststudio/knowledge-base/project-configuration-kb/register-certificate"/>
  <!-- previous_url: /user-guide/test-results/step-failure-details.aspx, /user-guide/test-results/step-failure-details, /getting-started/test-results/step-failure-details -->
  <redirect url="/teststudio/getting-started/test-results/step-failure-details" to="/teststudio/general-information/test-results/step-failure-details"/>
  <redirect url="/teststudio/user-guide/test-results/step-failure-details" to="/teststudio/general-information/test-results/step-failure-details"/>
  <redirect url="/teststudio/user-guide/test-results/step-failure-details.aspx" to="/teststudio/general-information/test-results/step-failure-details"/>
  <!-- previous_url: /user-guide/project-settings/translators.aspx, /user-guide/project-settings/translators -->
  <redirect url="/teststudio/user-guide/project-settings/translators" to="/teststudio/features/project-settings/translators"/>
  <redirect url="/teststudio/user-guide/project-settings/translators.aspx" to="/teststudio/features/project-settings/translators"/>

  <!-- previous_url: /user-guide/project-settings/script-options.aspx, /user-guide/project-settings/script-options -->
  <redirect url="/teststudio/user-guide/project-settings/script-options" to="/teststudio/features/project-settings/script-options"/>
  <redirect url="/teststudio/user-guide/project-settings/script-options.aspx" to="/teststudio/features/project-settings/script-options"/>
  <!-- previous_url: /features/test-maintenance/project-files-context-menu -->
  <redirect url="/teststudio/features/test-maintenance/project-files-context-menu" to="/teststudio/features/project-explorer/overview"/>
  <!-- previous_url: /features/project-settings/identification-logic -->
  <redirect url="/teststudio/features/project-settings/identification-logic" to="/teststudio/features/project-settings/find-logic"/>
  <!-- previous_url: /user-guide/project-settings/browsers.aspx, /user-guide/project-settings/browsers -->
  <redirect url="/teststudio/user-guide/project-settings/browsers" to="/teststudio/features/project-settings/browsers"/>
  <redirect url="/teststudio/user-guide/project-settings/browsers.aspx" to="/teststudio/features/project-settings/browsers"/>

  <!-- previous_url: /user-guide/project-settings/recording-options.aspx, /user-guide/project-settings/recording-options -->
  <redirect url="/teststudio/user-guide/project-settings/recording-options" to="/teststudio/features/project-settings/recording-options"/>
  <redirect url="/teststudio/user-guide/project-settings/recording-options.aspx" to="/teststudio/features/project-settings/recording-options"/>
  <!-- previous_url: /user-guide/project-settings.aspx, /user-guide/project-settings -->
  <redirect url="/teststudio/user-guide/project-settings" to="/teststudio/features/project-settings/overview"/>
  <redirect url="/teststudio/user-guide/project-settings.aspx" to="/teststudio/features/project-settings/overview"/>
  <!-- https://docs.telerik.com/teststudio/features/project-settings/others -->
  <redirect url="/teststudio/features/project-settings/others" to="/teststudio/features/project-settings/general"/>

  <!-- previous_url: /user-guide/overview/test-studio-vs-run-time.aspx, /user-guide/overview/test-studio-vs-run-time, /general-information/test-studio-run-time -->
  <redirect url="/teststudio/user-guide/overview/test-studio-vs-run-time.aspx" to="/teststudio/introduction/test-studio-run-time"/>
  <redirect url="/teststudio/user-guide/overview/test-studio-vs-run-time" to="/teststudio/introduction/test-studio-run-time"/>
  <redirect url="/teststudio/general-information/test-studio-run-time" to="/teststudio/introduction/test-studio-run-time"/>

  <!-- previous_url: /teststudio/features/scheduling-test-runs/migrate-database -->
  <redirect url="/teststudio/features/scheduling-test-runs/migrate-database" to="/teststudio/features/scheduling-test-runs/advanced-topics/migrate-database"/>

  <!-- previous_url: /user-guide/scheduling-test-runs/telerik-teststudio-commandline-client.aspx, /user-guide/scheduling-test-runs/telerik-teststudio-commandline-client -->
  <redirect url="/teststudio/user-guide/scheduling-test-runs/telerik-teststudio-commandline-client.aspx" to="/teststudio/features/scheduling-test-runs/advanced-topics/tts-command-line-client"/>
  <redirect url="/teststudio/user-guide/scheduling-test-runs/telerik-teststudio-commandline-client" to="/teststudio/features/scheduling-test-runs/advanced-topics/tts-command-line-client"/>

  <!-- previous_url: /user-guide/scheduling-test-runs/change-service-account.aspx, /user-guide/scheduling-test-runs/change-service-account, /user-guide/installation/change_storage_service_account.aspx -->
  <redirect url="/teststudio/user-guide/installation/change_storage_service_account.aspx" to="/teststudio/features/scheduling-test-runs/advanced-topics/change-service-account"/>
  <redirect url="/teststudio/user-guide/scheduling-test-runs/change-service-account.aspx" to="/teststudio/features/scheduling-test-runs/advanced-topics/change-service-account"/>
  <redirect url="/teststudio/user-guide/scheduling-test-runs/change-service-account" to="/teststudio/features/scheduling-test-runs/advanced-topics/change-service-account"/>

  <!-- previous_url: /user-guide/scheduling-test-runs/service-apis.aspx, /user-guide/scheduling-test-runs/service-apis -->
  <redirect url="/teststudio/user-guide/scheduling-test-runs/service-apis.aspx" to="/teststudio/features/scheduling-test-runs/advanced-topics/using-service-api"/>
  <redirect url="/teststudio/user-guide/scheduling-test-runs/service-apis" to="/teststudio/features/scheduling-test-runs/advanced-topics/using-service-api"/>

  <!-- previous_url: /user-guide/scheduling-test-runs/cancel-scheduled-job.aspx, /user-guide/scheduling-test-runs/cancel-scheduled-job -->
  <redirect url="/teststudio/user-guide/scheduling-test-runs/cancel-scheduled-job.aspx" to="/teststudio/features/scheduling-test-runs/stop-cancel-scheduled-job"/>
  <redirect url="/teststudio/user-guide/scheduling-test-runs/cancel-scheduled-job" to="/teststudio/features/scheduling-test-runs/stop-cancel-scheduled-job"/>

  <!-- previous_url: /user-guide/scheduling-test-runs/scheduling-results.aspx, /user-guide/scheduling-test-runs/scheduling-results -->
  <redirect url="/teststudio/user-guide/scheduling-test-runs/scheduling-results.aspx" to="/teststudio/features/scheduling-test-runs/scheduling-results"/>
  <redirect url="/teststudio/user-guide/scheduling-test-runs/scheduling-results" to="/teststudio/features/scheduling-test-runs/scheduling-results"/>

  <!-- previous_url: /user-guide/scheduling-test-runs/schedule-test-execution.aspx, /user-guide/scheduling-test-runs/schedule-test-execution -->
  <redirect url="/teststudio/user-guide/scheduling-test-runs/schedule-test-execution.aspx" to="/teststudio/features/scheduling-test-runs/schedule-execution"/>
  <redirect url="/teststudio/user-guide/scheduling-test-runs/schedule-test-execution" to="/teststudio/features/scheduling-test-runs/schedule-execution"/>

  <!-- previous_url: /user-guide/scheduling-test-runs/run-list-remotely.aspx, /user-guide/scheduling-test-runs/run-list-remotely -->
  <redirect url="/teststudio/user-guide/scheduling-test-runs/run-list-remotely.aspx" to="/teststudio/features/scheduling-test-runs/run-list-remotely"/>
  <redirect url="/teststudio/user-guide/scheduling-test-runs/run-list-remotely" to="/teststudio/features/scheduling-test-runs/run-list-remotely"/>
  <!-- previous_url: /user-guide/scheduling-test-runs/machine-status.aspx, /user-guide/scheduling-test-runs/machine-status -->
  <redirect url="/teststudio/user-guide/scheduling-test-runs/machine-status.aspx" to="/teststudio/features/scheduling-test-runs/connect-to-scheduling-server"/>
  <redirect url="/teststudio/user-guide/scheduling-test-runs/machine-status" to="/teststudio/features/scheduling-test-runs/connect-to-scheduling-server"/>

  <!-- previous_url: /user-guide/scheduling-test-runs/connect-a-project-to-a-scheduling-server.aspx, /user-guide/scheduling-test-runs/connect-a-project-to-a-scheduling-server -->
  <redirect url="/teststudio/user-guide/scheduling-test-runs/connect-a-project-to-a-scheduling-server.aspx" to="/teststudio/features/scheduling-test-runs/view-execution-status"/>
  <redirect url="/teststudio/user-guide/scheduling-test-runs/connect-a-project-to-a-scheduling-server" to="/teststudio/features/scheduling-test-runs/view-execution-status"/>
  <!--previous_url: /user-guide/scheduling-test-runs/create-an-execution-server.aspx, /user-guide/scheduling-test-runs/create-an-execution-server -->
  <redirect url="/teststudio/features/scheduling-test-runs/create-execution-server" to="/teststudio/features/scheduling-test-runs/multiple-machines-scheduling-setup/create-execution-server"/>
  <redirect url="/teststudio/user-guide/scheduling-test-runs/create-an-execution-server.aspx" to="/teststudio/features/scheduling-test-runs/multiple-machines-scheduling-setup/create-execution-server"/>
  <redirect url="/teststudio/user-guide/scheduling-test-runs/create-an-execution-server" to="/teststudio/features/scheduling-test-runs/multiple-machines-scheduling-setup/create-execution-server"/>
  <!--previous_url: /features/scheduling-test-runs/create-storage-server /user-guide/scheduling-test-runs/create-storage-server.aspx, /user-guide/scheduling-test-runs/create-storage-server-->
  <redirect url="/teststudio/features/scheduling-test-runs/create-storage-server" to="/teststudio/features/scheduling-test-runs/multiple-machines-scheduling-setup/create-storage-server"/>
  <redirect url="/teststudio/user-guide/scheduling-test-runs/create-storage-server.aspx" to="/teststudio/features/scheduling-test-runs/multiple-machines-scheduling-setup/create-storage-server"/>
  <redirect url="/teststudio/user-guide/scheduling-test-runs/create-storage-server" to="/teststudio/features/scheduling-test-runs/multiple-machines-scheduling-setup/create-storage-server"/>
  <!--previous_url: /teststudio/features/scheduling-test-runs/create-scheduling-server, /user-guide/scheduling-test-runs/create-a-scheduling-server.aspx, /user-guide/scheduling-test-runs/create-a-scheduling-server-->
  <redirect url="/teststudio/features/scheduling-test-runs/create-scheduling-server" to="teststudio/features/scheduling-test-runs/multiple-machines-scheduling-setup/create-scheduling-server"/>
  <redirect url="/teststudio/user-guide/scheduling-test-runs/create-a-scheduling-server.aspx" to="/teststudio/features/scheduling-test-runs/multiple-machines-scheduling-setup/create-scheduling-server"/>
  <redirect url="/teststudio/user-guide/scheduling-test-runs/create-a-scheduling-server" to="/teststudio/features/scheduling-test-runs/multiple-machines-scheduling-setup/create-scheduling-server"/>
  <!--previous_url: /user-guide/scheduling-test-runs.aspx, /user-guide/scheduling-test-runs-->
  <redirect url="/teststudio/user-guide/scheduling-test-runs.aspx" to="/teststudio/features/scheduling-test-runs/overview"/>
  <redirect url="/teststudio/user-guide/scheduling-test-runs" to="/teststudio/features/scheduling-test-runs/overview"/>
  <!--previous_url: /teststudio/features/scheduling-test-runs/local-run-all-in-one-->
  <redirect url="/teststudio/features/scheduling-test-runs/local-run-all-in-one" to="/teststudio/features/scheduling-test-runs/local-scheduled-run"/>
  <!--/teststudio/features/scheduling-test-runs/remote-run-all-in-one-->
  <redirect url="/teststudio/features/scheduling-test-runs/remote-run-all-in-one" to="/teststudio/features/scheduling-test-runs/remote-scheduled-run"/>
  <!--previous_url: /teststudio/troubleshooting-guide/browser-inconsistencies-tg/extensions-disabled-in-edgechromium-->
  <redirect url="/teststudio/troubleshooting-guide/browser-inconsistencies-tg/extensions-disabled-in-edgechromium" to="/teststudio/general-information/configure-your-browser/edge-chromium"/>
  <!--previous_url: /features/testing-types/load-testing/adding-user-profiles, /teststudio/features/testing-types/load-testing/capturing-traffic, /teststudio/features/testing-types/load-testing/importing-traffic -->
  <redirect url="/teststudio/features/testing-types/load-testing/adding-user-profiles" to="/teststudio/features/testing-types/load-testing/designing-load-tests/adding-user-profiles"/>
  <redirect url="/teststudio/features/testing-types/load-testing/capturing-traffic" to="/teststudio/features/testing-types/load-testing/designing-load-tests/adding-user-profiles#capturing-traffic"/>
  <redirect url="/teststudio/features/testing-types/load-testing/importing-traffic" to="/teststudio/features/testing-types/load-testing/designing-load-tests/adding-user-profiles#importing-traffic"/>
  <!--previous_url: /teststudio/features/testing-types/load-testing/modifying-tests -->
  <redirect url="/teststudio/features/testing-types/load-testing/modifying-tests" to="/teststudio/features/testing-types/load-testing/designing-load-tests/modifying-tests"/>
  <!--previous_url: /teststudio/features/testing-types/load-testing/designing-tests -->
  <redirect url="/teststudio/features/testing-types/load-testing/designing-tests" to="/teststudio/features/testing-types/load-testing/designing-load-tests/getting-started"/>

  <!--previous_url: /teststudio/features/testing-types/load-testing/think-times -->
  <redirect url="/teststudio/features/testing-types/load-testing/think-times" to="/teststudio/features/testing-types/load-testing/designing-load-tests/modifying-tests#addremovechange-the-think-times"/>
  
  <!--previous_url: /teststudio/features/testing-types/load-testing/test-settings -->
  <redirect url="/teststudio/features/testing-types/load-testing/test-settings" to="/teststudio/features/testing-types/load-testing/designing-load-tests/test-settings"/>
  <!--/teststudio/general-information/test-execution/vs-2012-test-explorer-->
  <redirect url="/teststudio/general-information/test-execution/vs-2012-test-explorer" to="/teststudio/general-information/test-execution/vs-test-explorer"/>
  <!--previous_url: /teststudio/features/testing-types/load-testing/filter-user-profile -->
  <redirect url="/teststudio/features/testing-types/load-testing/filter-user-profile" to="/teststudio/features/testing-types/load-testing/designing-load-tests/modifying-tests#filter-user-profile"/>
  <!--previous_url: /teststudio/features/testing-types/load-testing/add-custom-cookies -->
  <redirect url="/teststudio/features/testing-types/load-testing/add-custom-cookies" to="/teststudio/features/testing-types/load-testing/designing-load-tests/modifying-tests#insert-a-custom-cookie-into-a-user-profile"/>
  <!-- /teststudio/features/testing-types/load-testing/managing-vu -->
  <redirect url="/teststudio/features/testing-types/load-testing/managing-vu" to="/teststudio/features/testing-types/load-testing/designing-load-tests/managing-vu"/>
  <redirect url="/user-guide/load-testing/load-managing-users.aspx" to="/teststudio/features/testing-types/load-testing/designing-load-tests/managing-vu"/>

  <!--previous_url: /teststudio/features/testing-types/load-testing/dynamic-targets -->
  <redirect url="/teststudio/features/testing-types/load-testing/dynamic-targets" to="/teststudio//features/testing-types/load-testing/designing-load-tests/dynamic-targets"/>

  <!-- /teststudio/features/testing-types/load-testing/configure-remote-device -->
  <redirect url="/teststudio/features/testing-types/load-testing/configure-remote-device" to="/teststudio/features/testing-types/load-testing/advanced-topics/configure-remote-device"/>
  <redirect url="/user-guide/load-testing/designing-load-tests/adding-user-profiles/capture-remote-traffic.aspx" to="/teststudio/features/testing-types/load-testing/advanced-topics/configure-remote-device"/>

  <!-- /teststudio/features/testing-types/load-testing/monitor-perf-metrics -->
  <redirect url="/teststudio/features/testing-types/load-testing/monitor-perf-metrics" to="/teststudio/features/testing-types/load-testing/advanced-topics/monitor-perf-metrics"/>

  <!-- /teststudio/features/testing-types/load-testing/data-driving -->
  <redirect url="/teststudio/features/testing-types/load-testing/data-driving" to="/teststudio/features/testing-types/load-testing/advanced-topics/data-driving"/>

  <!-- /teststudio/features/testing-types/load-testing/manage-windows-auth -->
  <redirect url="/teststudio/features/testing-types/load-testing/manage-windows-auth" to="/teststudio/features/testing-types/load-testing/advanced-topics/manage-windows-auth"/>

  <!-- /teststudio/features/testing-types/load-testing/running-tests -->
  <redirect url="/user-guide/load-testing/load-running-tests.aspx" to="/teststudio/features/testing-types/load-testing/running-load-test/running-tests"/>
  <redirect url="/teststudio/features/testing-types/load-testing/running-tests" to="/teststudio/features/testing-types/load-testing/running-load-test/running-tests"/>

  <!-- /teststudio/features/testing-types/load-testing/analyzing-results -->
  <redirect url="/teststudio/features/testing-types/load-testing/analyzing-results" to="/teststudio/features/testing-types/load-testing/load-testing-results/analyzing-results"/>
  <redirect url="/user-guide/load-testing/load-analyzing-results.aspx" to="/teststudio/features/testing-types/load-testing/load-testing-results/analyzing-results"/>

  <!-- /teststudio/features/testing-types/load-testing/export-results -->
  <redirect url="/teststudio/features/testing-types/load-testing/export-results" to="/teststudio/features/testing-types/load-testing/load-testing-results/export-results"/>

  <!-- /teststudio/features/testing-types/load-testing/troubleshooting-results-errors -->
  <redirect url="/teststudio/features/testing-types/load-testing/troubleshooting-results-errors" to="/teststudio/features/testing-types/load-testing/load-testing-results/troubleshooting-results-errors"/>

  <!-- /teststudio/features/testing-types/load-testing/export-results -->
  <redirect url="/teststudio/features/testing-types/load-testing/export-results" to="/teststudio/features/testing-types/load-testing/load-testing-results/export-results"/>

  <!-- /teststudio/features/testing-types/load-testing/best-practices -->
  <redirect url="/teststudio/features/testing-types/load-testing/best-practices" to="/teststudio/features/testing-types/load-testing/running-load-test/best-practices"/>

  <!-- /teststudio/features/testing-types/load-testing/remote-load-test-execution -->
  <redirect url="/teststudio/features/testing-types/load-testing/remote-load-test-execution" to="/teststudio/features/testing-types/load-testing/running-load-test/remote-load-test-execution"/>

  <!--previous_url: /user-guide/configure-your-browser/chrome.aspx, /user-guide/configure-your-browser/chrome, /getting-started/configure-your-browser/chrome -->
  <redirect url="/teststudio/user-guide/configure-your-browser/chrome.aspx" to="/teststudio/general-information/configure-your-browser/chrome"/>
  <redirect url="/teststudio/user-guide/configure-your-browser/chrome" to="/teststudio/general-information/configure-your-browser/chrome"/>
  <redirect url="/teststudio/getting-started/configure-your-browser/chrome" to="/teststudio/general-information/configure-your-browser/chrome"/>
  
  <redirect url="/teststudio/getting-started/configure-your-browser/edgechromium" to="/teststudio/general-information/configure-your-browser/edge-chromium"/> 
  
  <!-- previous_url: /getting-started/configure-your-browser/edge -->
  <redirect url="/teststudio/getting-started/configure-your-browser/edgechromium" to="/teststudio/general-information/configure-your-browser/edge-chromium"/>
  <redirect url="/teststudio/getting-started/configure-your-browser/edge" to="/teststudio/general-information/configure-your-browser/edge"/>
  <!--previous_url: /user-guide/configure-your-browser/firefox.aspx, /user-guide/configure-your-browser/firefox, /getting-started/configure-your-browser/firefox -->
  <redirect url="/teststudio/user-guide/configure-your-browser/firefox.aspx" to="/teststudio/general-information/configure-your-browser/firefox"/>
  <redirect url="/teststudio//user-guide/configure-your-browser/firefox" to="/teststudio/general-information/configure-your-browser/firefox"/>
  <redirect url="/teststudio/getting-started/configure-your-browser/firefox" to="/teststudio/general-information/configure-your-browser/firefox"/>
<!-- previous_url: /user-guide/configure-your-browser/internet-explorer.aspx, /user-guide/configure-your-browser/internet-explorer, /getting-started/configure-your-browser/internet-explorer -->
  <redirect url="/teststudio/user-guide/configure-your-browser/internet-explorer.aspx" to="/teststudio/general-information/configure-your-browser/internet-explorer"/>
  <redirect url="/teststudio/user-guide/configure-your-browser/internet-explorer" to="/teststudio/general-information/configure-your-browser/internet-explorer"/>
  <redirect url="/teststudio/getting-started/configure-your-browser/internet-explorer" to="/teststudio/general-information/configure-your-browser/internet-explorer"/>
<!-- previous_url: /user-guide/configure-your-browser/safari.aspx, /user-guide/configure-your-browser/safari.aspx, /getting-started/configure-your-browser/safari -->
  <redirect url="/teststudio/user-guide/configure-your-browser/safari.aspx" to="/teststudio/general-information/configure-your-browser/safari"/>
  <redirect url="/teststudio/getting-started/configure-your-browser/safari" to="/teststudio/general-information/configure-your-browser/safari"/>
<!-- previous_url: /getting-started/create-test-standalone/load-test, /getting-started/create-test-standalone/manual-test, /getting-started/create-test-standalone/web-test, /getting-started/create-test-standalone/add-test -->
  <redirect url="/teststudio/getting-started/create-test-standalone/load-test" to="/teststudio/general-information/create-test-standalone/add-test"/>
  <redirect url="/teststudio/getting-started/create-test-standalone/manual-test" to="/teststudio/general-information/create-test-standalone/add-test"/>
  <redirect url="/teststudio/getting-started/create-test-standalone/web-test" to="/teststudio/general-information/create-test-standalone/add-test"/>
  <redirect url="/teststudio/getting-started/create-test-standalone/add-test" to="/teststudio/general-information/create-test-standalone/add-test"/>
<!-- previous_url: /getting-started/create-test-standalone/silverlight-out-of-browser -->
  <redirect url="/teststudio/getting-started/create-test-standalone/silverlight-out-of-browser" to="/teststudio/general-information/create-test-standalone/silverlight-out-of-browser"/>
<!-- previous_url: /getting-started/create-test-vsplugin/silverlight-out-of-browser -->
  <redirect url="/teststudio/getting-started/create-test-vsplugin/silverlight-out-of-browser" to="/teststudio/general-information/create-test-vsplugin/silverlight-out-of-browser"/>
<!-- previous_url: /user-guide/create-a-test-vs-plugin/web-test.aspx, /user-guide/create-a-test-vs-plugin/web-test, /getting-started/create-test-vsplugin/web-test -->
  <redirect url="/teststudio/user-guide/create-a-test-vs-plugin/web-test.aspx" to="/teststudio/general-information/create-test-vsplugin/web-test"/>
  <redirect url="/teststudio/user-guide/create-a-test-vs-plugin/web-test" to="/teststudio/general-information/create-test-vsplugin/web-test"/>
  <redirect url="/teststudio/getting-started/create-test-vsplugin/web-test" to="/teststudio/general-information/create-test-vsplugin/web-test"/>
<!-- previous_url: /user-guide/create-a-test-vs-plugin/wpf-test.aspx, /user-guide/create-a-test-vs-plugin/wpf-test, /getting-started/create-test-vsplugin/wpf-test -->
  <redirect url="/teststudio/user-guide/create-a-test-vs-plugin/wpf-test.aspx" to="/teststudio/general-information/create-test-vsplugin/wpf-test"/>
  <redirect url="/teststudio/user-guide/create-a-test-vs-plugin/wpf-test" to="/teststudio/general-information/create-test-vsplugin/wpf-test"/>
  <redirect url="/teststudio/getting-started/create-test-vsplugin/wpf-test" to="/teststudio/general-information/create-test-vsplugin/wpf-test"/>
<!-- previous_url: /user-guide/installation/activating-your-license.aspx, /user-guide/installation/activating-your-license, /getting-started/installation/activeting-your-license -->
  <redirect url="/teststudio/user-guide/installation/activating-your-license.aspx" to="/teststudio/general-information/installation/activating-your-license"/>
  <redirect url="/teststudio/user-guide/installation/activating-your-license" to="/teststudio/general-information/installation/activating-your-license"/>
  <redirect url="/teststudio/getting-started/installation/activating-your-license" to="/teststudio/general-information/installation/activating-your-license"/>
<!-- previous_url: /user-guide/installation/trial-services.aspx, /user-guide/installation/trial-services, /getting-started/installation/add-service -->
  <redirect url="/teststudio/user-guide/installation/trial-services.aspx" to="/teststudio/general-information/installation/add-services"/>
  <redirect url="/teststudio/user-guide/installation/trial-services" to="/teststudio/general-information/installation/add-services"/>
  <redirect url="/teststudio/getting-started/installation/add-services" to="/teststudio/general-information/installation/add-services"/>
<!-- previous_url: /user-guide/installation/check_for_updates.aspx, /user-guide/installation/check_for_updates, /getting-started/installation/check-for-updates -->
  <redirect url="/teststudio/user-guide/installation/check_for_updates.aspx" to="/teststudio/general-information/installation/check-for-updates"/>
  <redirect url="/teststudio/user-guide/installation/check_for_updates" to="/teststudio/general-information/installation/check-for-updates"/>
  <redirect url="/teststudio/getting-started/installation/check-for-updates" to="/teststudio/general-information/installation/check-for-updates"/>
<!-- previous_url: /user-guide/installation/configure-windows-server.aspx, /user-guide/installation/configure-windows-server, /getting-started/installation/configure-windows-server -->
  <redirect url="/teststudio/user-guide/installation/configure-windows-server.aspx" to="/teststudio/general-information/installation/configure-windows-server"/>
  <redirect url="/teststudio/user-guide/installation/configure-windows-server" to="/teststudio/general-information/installation/configure-windows-server"/>
  <redirect url="/teststudio/getting-started/installation/configure-windows-server" to="/teststudio/general-information/installation/configure-windows-server"/>
<!-- previous_url: /user-guide/installation/install-procedure.aspx, /user-guide/installation/install-procedure, /getting-started/installation/install-procedure -->
  <redirect url="/teststudio/user-guide/installation/install-procedure.aspx" to="/teststudio/general-information/installation/install-procedure"/>
  <redirect url="/teststudio/user-guide/installation/install-procedure" to="/teststudio/general-information/installation/install-procedure"/>
  <redirect url="/getting-started/installation/install-procedure" to="/teststudio/general-information/installation/install-procedure"/>
<!-- previous_url: /user-guide/installation/manual-activation.aspx, /user-guide/installation/manual-activation, /getting-started/installation/manual-activation -->
  <redirect url="/teststudio/user-guide/installation/manual-activation.aspx" to="/teststudio/general-information/installation/manual-activation"/>
  <redirect url="/teststudio/user-guide/installation/manual-activation" to="/teststudio/general-information/installation/manual-activation"/>
  <redirect url="/teststudio/getting-started/installation/manual-activation" to="/teststudio/general-information/installation/manual-activation"/>
<!-- previous_url: /user-guide/installation/manual_download.aspx, /user-guide/installation/manual_download, /getting-started/installation/manual-download -->
  <redirect url="/teststudio/user-guide/installation/manual_download.aspx" to="/teststudio/general-information/installation/manual-download"/>
  <redirect url="/teststudio/user-guide/installation/manual_download" to="/teststudio/general-information/installation/manual-download"/>
  <redirect url="/teststudio/getting-started/installation/manual-download" to="/teststudio/general-information/installation/manual-download"/>
<!-- previous_url: /getting-started/installation/personal-data -->
  <redirect url="/teststudio/getting-started/installation/personal-data" to="/teststudio/general-information/installation/personal-data"/>
<!-- previous_url: /user-guide/installation/re-activate-your-license.aspx, /user-guide/installation/re-activate-your-license, /getting-started/installation/re-activating-your-license -->
  <redirect url="/teststudio/user-guide/installation/re-activate-your-license.aspx" to="/teststudio/general-information/installation/re-activating-your-license"/>
  <redirect url="/teststudio/user-guide/installation/re-activate-your-license" to="/teststudio/general-information/installation/re-activating-your-license"/>
  <redirect url="/teststudio/getting-started/installation/re-activating-your-license" to="/teststudio/general-information/installation/re-activating-your-license"/>
<!-- previous_url: /getting-started/installation/vs2017-compatability -->
  <redirect url="/teststudio/getting-started/installation/vs2017-compatability" to="/teststudio/general-information/installation/vs2017-compatibility"/>
<!-- previous_url: /getting-started/start-a-project/in-product-tips-tricks -->
  <redirect url="/teststudio/getting-started/start-a-project/in-product-tips-tricks" to="/teststudio/general-information/start-a-project/in-product-tips-tricks"/>
<!-- previous_url: /getting-started/start-a-project/welcome-screen -->
  <redirect url="/teststudio/getting-started/start-a-project/welcome-screen" to="/teststudio/general-information/start-a-project/welcome-screen"/>
<!-- previous_url: /user-guide/test-execution/quick-execution.aspx, /user-guide/test-execution/quick-execution, /getting-started/test-execution/quick-execution -->
  <redirect url="/teststudio/user-guide/test-execution/quick-execution.aspx" to="/teststudio/general-information/test-execution/quick-execution"/>
  <redirect url="/teststudio/user-guide/test-execution/quick-execution" to="/teststudio/general-information/test-execution/quick-execution"/>
  <redirect url="/teststudio/getting-started/test-execution/quick-execution" to="/teststudio/general-information/test-execution/quick-execution"/>
<!-- previous_url: /getting-started/test-execution/test-list-execution -->
  <redirect url="/teststudio/getting-started/test-execution/test-list-execution" to="/teststudio/general-information/test-execution/test-list-execution"/>
<!-- previous_url: /user-guide/test-execution/test-list-settings.aspx, /user-guide/test-execution/test-list-settings, /getting-started/test-execution/test-list-settings -->
  <redirect url="/teststudio/user-guide/test-execution/test-list-settings.aspx" to="/teststudio/general-information/test-execution/test-list-settings"/>
  <redirect url="/teststudio/user-guide/test-execution/test-list-settings" to="/teststudio/general-information/test-execution/test-list-settings"/>
  <redirect url="/teststudio/getting-started/test-execution/test-list-settings" to="/teststudio/general-information/test-execution/test-list-settings"/>
<!-- previous_url: /user-guide/test-execution/standalone-test-lists.aspx, /user-guide/test-execution/standalone-test-lists, /getting-started/test-execution/test-lists-standalone -->
  <redirect url="/teststudio/user-guide/test-execution/standalone-test-lists.aspx" to="/teststudio/general-information/test-execution/test-lists-standalone"/>
  <redirect url="/teststudio/user-guide/test-execution/standalone-test-lists" to="/teststudio/general-information/test-execution/test-lists-standalone"/>
  <redirect url="/teststudio/getting-started/test-execution/test-lists-standalone" to="/teststudio/general-information/test-execution/test-lists-standalone"/>
<!-- previous_url: /user-guide/test-execution/standalone-test-list-type.aspx, /user-guide/test-execution/standalone-test-list-type, /getting-started/test-execution/test-lists-type-standalone -->
  <redirect url="/teststudio/user-guide/test-execution/standalone-test-list-type.aspx" to="/teststudio/general-information/test-execution/test-lists-type-standalone"/>
  <redirect url="/teststudio/user-guide/test-execution/standalone-test-list-type" to="/teststudio/general-information/test-execution/test-lists-type-standalone"/>
  <redirect url="/teststudio/getting-started/test-execution/test-lists-type-standalone" to="/teststudio/general-information/test-execution/test-lists-type-standalone"/>
<!-- previous_url: /user-guide/test-execution/visual-debugger.aspx, /user-guide/test-execution/visual-debugger, /getting-started/test-execution/visual-debugger -->
  <redirect url="/teststudio/user-guide/test-execution/visual-debugger.aspx" to="/teststudio/general-information/test-execution/visual-debugger"/>
  <redirect url="/teststudio/user-guide/test-execution/visual-debugger" to="/teststudio/general-information/test-execution/visual-debugger"/>
  <redirect url="/teststudio/getting-started/test-execution/visual-debugger" to="/teststudio/general-information/test-execution/visual-debugger"/>
<!-- previous_url: /getting-started/test-execution/visual-studio-2012-and-later-test-list -->
  <redirect url="/teststudio/getting-started/test-execution/visual-studio-2012-and-later-test-list" to="/teststudio/general-information/test-execution/visual-studio-2012-and-later-test-list"/>
<!-- previous_url: /user-guide/test-execution/visual-studio-2012-test-explorer.aspx, /user-guide/test-execution/visual-studio-2012-test-explorer, /getting-started/test-execution/vs-2012-test-explorer -->
  <redirect url="/teststudio/user-guide/test-execution/visual-studio-2012-test-explorer.aspx" to="/teststudio/general-information/test-execution/vs-2012-test-explorer"/>
  <redirect url="/teststudio/user-guide/test-execution/visual-studio-2012-test-explorer" to="/teststudio/general-information/test-execution/vs-2012-test-explorer"/>
  <redirect url="/teststudio/getting-started/test-execution/vs-2012-test-explorer" to="/teststudio/general-information/test-execution/vs-2012-test-explorer"/>
<!-- previous_url: /user-guide/recording-tests/frames.aspx, /user-guide/recording-tests/frames, /getting-started/test-recording/frames -->
  <redirect url="/teststudio/user-guide/recording-tests/frames.aspx" to="/teststudio/general-information/test-recording/frames"/>
  <redirect url="/teststudio/user-guide/recording-tests/frames" to="/teststudio/general-information/test-recording/frames"/>
  <redirect url="/teststudio/getting-started/test-recording/frames" to="/teststudio/general-information/test-recording/frames"/>
<!-- previous_url: /user-guide/recording-tests.aspx, /user-guide/recording-tests, /getting-started/test-recording/overview -->
  <redirect url="/teststudio/user-guide/recording-tests.aspx" to="/teststudio/general-information/test-recording/overview"/>
  <redirect url="/teststudio/user-guide/recording-tests" to="/teststudio/general-information/test-recording/overview"/>
  <redirect url="/teststudio/getting-started/test-recording/overview" to="/teststudio/general-information/test-recording/overview"/>
<!-- previous_url: /user-guide/recording-tests/recording-toolbar.aspx, /user-guide/recording-tests/recording-toolbar, /getting-started/test-recording/recording-toolbar -->
  <redirect url="/teststudio/user-guide/recording-tests/recording-toolbar.aspx" to="/teststudio/general-information/test-recording/recording-toolbar"/>
  <redirect url="/teststudio/user-guide/recording-tests/recording-toolbar" to="/teststudio/general-information/test-recording/recording-toolbar"/>
  <redirect url="/teststudio/getting-started/test-recording/recording-toolbar" to="/teststudio/general-information/test-recording/recording-toolbar"/>
<!-- previous_url: /user-guide/recording-tests/step-suggestions.aspx, /user-guide/recording-tests/step-suggestions, /getting-started/test-recording/step-suggestions -->
  <redirect url="/teststudio/user-guide/recording-tests/step-suggestions.aspx" to="/teststudio/general-information/test-recording/step-suggestions"/>
  <redirect url="/teststudio/user-guide/recording-tests/step-suggestions" to="/teststudio/general-information/test-recording/step-suggestions"/>
  <redirect url="/teststudio/getting-started/test-recording/step-suggestions" to="/teststudio/general-information/test-recording/step-suggestions"/>
<!-- previous_url: /user-guide/recording-tests/translators.aspx, /user-guide/recording-tests/translators, /getting-started/test-recording/translators -->
  <redirect url="/teststudio/user-guide/recording-tests/translators.aspx" to="/teststudio/general-information/test-recording/translators"/>
  <redirect url="/teststudio/user-guide/recording-tests/translators" to="/teststudio/general-information/test-recording/translators"/>
  <redirect url="/teststudio/getting-started/test-recording/translators" to="/teststudio/general-information/test-recording/translators"/>
<!-- previous_url: /teststudio/getting-started/test-results/quick-execute-test-step -->
  <redirect url="/teststudio/getting-started/test-results/quick-execute-test-step" to="/teststudio/general-information/test-results/quick-execute-test-step"/>  

</rewriter> 