<?xml version="1.0" encoding="UTF-8"?> 
<configuration> 
    <configSections>
		<section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
	</configSections>

    <appSettings> 
        <clear /> 
    </appSettings> 
     
    <system.web> 
        <httpRuntime maxRequestLength="102400" maxUrlLength="102400" maxQueryStringLength="10000" requestValidationType="System.Web.Util.RequestValidator" /> 
          
         <httpModules> 
                <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
         </httpModules> 
          
         <httpHandlers> 
             <clear /> 
         </httpHandlers> 
     </system.web> 
      	<rewriter configSource="urlrewriter.config"> 
	</rewriter>

     <system.webServer> 
         <validation validateIntegratedModeConfiguration="false" /> 
         <modules runAllManagedModulesForAllRequests="true"> 
             <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
             <remove name="ClaimsPrincipalHttpModule" /> 
             <remove name="SitefinityClaimsAuthenticationModule" /> 
             <remove name="Sitefinity" /> 
             <remove name="SessionAuthenticationModule" /> 
             <remove name="ScriptModule" /> 
             <remove name="RadUploadModule" /> 
             <remove name="SitefinityAnalyticsModule" /> 
         </modules> 
         <handlers> 
             <remove name="xamlx-64" /> 
             <remove name="xamlx-script" /> 
             <remove name="svc-64" /> 
             <remove name="svc-script" /> 
             <remove name="xamlx" /> 
             <remove name="svc" /> 
             <remove name="ScriptHandlerFactory" /> 
             <remove name="ScriptHandlerFactoryAppServices" /> 
             <remove name="ScriptResource" /> 
             <remove name="WildCard" /> 
             <remove name="WildCard32" /> 
             <remove name="Telerik.Web.UI.DialogHandler" /> 
             <remove name="Telerik.RadUploadProgressHandler" /> 
             <remove name="Telerik.Sitefinity.FilesDownloadHandler" /> 
             <remove name="Telerik.Sitefinity.ExportSubscribersHttpHandler" /> 
             <remove name="Telerik.Sitefinity.LibrariesRadUploadHandler" /> 
             <remove name="Telerik.Sitefinity.Html5UploadHandler" /> 
             <remove name="Telerik.Sitefinity.ThumbnailUploadHandler" /> 
             <remove name="Telerik.Sitefinity.AsyncImageUploadHandler" /> 
             <remove name="Telerik.Sitefinity.AsyncFileUploadHandler" /> 
             <remove name="Telerik.Sitefinity.AsyncToolsetXmlUploadHandler" /> 
             <remove name="Telerik.Web.UI.SpellCheckHandler" /> 
             <remove name="Telerik_Web_UI_WebResource_axd" /> 
             <remove name="Telerik_Web_UI_DialogHandler_aspx" /> 
             <remove name="Telerik.ReportViewer.axd_*" /> 
         </handlers> 
      
         <rewrite> 
             <rules> 
                <clear />
                <rule name="Redirect to https" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
                <rule name="Convert to lower case" stopProcessing="true">  
	                <match url=".*[A-Z].*" ignoreCase="false" />  
	                <action type="Redirect" url="{ToLower:{R:0}}" redirectType="Permanent" />  
                </rule> 
				<rule name="api-reference" enabled="true"> 
                    <match url="^online-api-reference/(.*)$" />
                     <action type="Redirect" url="testing-framework/api-reference/api-reference" /> 
                 </rule> 
				 <rule name="api-reference-1-1" enabled="true"> 
                    <match url="^online-api-reference-1-1/(.*)$" /> 
                     <action type="Redirect" url="testing-framework/api-reference/api-reference" /> 
                 </rule>
				 <rule name="api-reference-2-0" enabled="true"> 
                    <match url="^online-api-reference-2-0/(.*)$" /> 
                     <action type="Redirect" url="testing-framework/api-reference/api-reference" /> 
                 </rule>
                  <rule name="api-reference-migration" enabled="true" stopProcessing="true">
                    <match url="^teststudioapi/(.*)" ignoreCase="true" />
                    <action type="Redirect" url="api" redirectType="Permanent" />
                  </rule>
                 {% for directory in site.redirect_directories %} 
                 <rule name="redirect-{{ directory.path | replace: '/', '-' }}" enabled="true"> 
                     <match url="^{{ directory.path }}/?$" /> 
                     <conditions logicalGrouping="MatchAll"> 
                         <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" /> 
                     </conditions> 
                     <action type="Redirect" url="{{ directory.url }}" redirectType="Found" /> 
                 </rule> 
                 {% endfor %} 
                 {% for page in site.redirect_pages %} {% for redirect in page.previous_url %} 
                 <rule name="redirect-{{ redirect | remove_first: '/' | replace: '/', '-' }}" enabled="true" stopProcessing="true"> 
                     <match url="^{{ redirect | remove_first: '/' }}$" /> 
                     <action type="Redirect" url="{{ page.url | remove_first: '/' | replace: '.html', '' }}" /> 
                 </rule> 
                 {% endfor %}{% endfor %} 
                 <rule name="add_html_extension" enabled="true" stopProcessing="true"> 
                     <match url="(.*)" /> 
                     <conditions logicalGrouping="MatchAll"> 
                         <add input="{REQUEST_FILENAME}.html" matchType="IsFile" /> 
                     </conditions> 
                     <action type="Rewrite" url="{R:1}.html" /> 
                 </rule> 
                <!--Custom redirects - special case for index.html page -->
                <rule name="redirect-user-guide-overview.aspx" enabled="true" stopProcessing="true"> 
                     <match url="^user-guide/overview.aspx$" /> 
                     <action type="Redirect" url="index" /> 
                </rule> 
                <rule name="redirect-user-guide-overview" enabled="true" stopProcessing="true"> 
                     <match url="^user-guide/overview$" /> 
                     <action type="Redirect" url="index" /> 
                 </rule> 
                <rule name="redirect-user-guide.aspx" enabled="true" stopProcessing="true"> 
                     <match url="^user-guide.aspx$" /> 
                     <action type="Redirect" url="index" /> 
                 </rule>
                <rule name="index" enabled="true" stopProcessing="true">
                    <match url="^/?$" />
                    <action type="Redirect" url="welcome" redirectType="Permanent" />
                </rule>  
                 <rule name="redirect-test-studio-for-apis" enabled="true" stopProcessing="true"> 
                     <match url="^test-studio-for-apis(.*)$" /> 
                     <action type="Redirect" url="/teststudio-apis{R:1}" /> 
                 </rule>
				 <rule name="index.html-redirect" stopProcessing="true">
					<match url="^(.*\/)*index\.html$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_METHOD}" negate="true" pattern="^POST$" />
					</conditions>
					<action type="Redirect" url="{R:1}" redirectType="Permanent"/>
				</rule>

                <!-- <rule name="redirect ^/teststudio/api/artoftest.webaii.core.browser" enabled="true" stopProcessing="true">
                    <match url="^/api/artoftest.webaii.core.browser$" />
                    <action type="Redirect" url="https://testdocs.telerik.com/teststudio/api/artoftest.webaii.core.browser.html" />
                </rule> -->

                <!-- <rule name="redirect ^/teststudio/api/artoftest.webaii.core.browser" enabled="true" stopProcessing="true">
                    <match url="^api/artoftest.webaii.core.browser.html$" ignoreCase="true"  />
                </rule>  -->

                <rule name="Hide .html ext">
                    <match ignoreCase="true" url="^(.*)"/>
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" pattern="\.png|\.css|\.jpg|\.gif" negate="true" />
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile"/>
                    </conditions>
                    <action type="Rewrite" url="{ToLower:{R:0}.html}" />
                </rule>
                <rule name="Redirecting .html ext" stopProcessing="true">
                    <match url="^(.*).html$"/>
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="(.*).html$"/>
                        <add input="{URL}" pattern="api/artoftest.webaii.core.browser$" ignoreCase="true" negate="true"/>
                    </conditions>
                    <action type="Redirect" url="{ToLower:{R:1}}"/>
                </rule>
                
                
			</rules> 
         </rewrite> 
         <staticContent> 
             <remove fileExtension=".json" /> 
             <mimeMap fileExtension=".json" mimeType="application/json" /> 
             <remove fileExtension=".woff" /> 
             <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" /> 
         </staticContent> 
         <httpErrors errorMode="Custom" defaultResponseMode="File" >
            <remove statusCode="404" />
            <error statusCode="404" path="40x.html" />
       </httpErrors>

     </system.webServer> 
      
 </configuration> 
