---
title: Quick Verification
page_title: Quick Verification
description: "Test Studio provides quick verification suggestions during recording. Add verification in Test Studio test with one click."
position: 2
---
# Add a Quick Verification #

Add a Quick Verification

The easiest and fastest way to add a verification to your test is through the Quick Tasks menu.

1.&nbsp; Create a Web Test and click Record.

2.&nbsp; Navigate to <a href="http://www.bing.com" target="_blank">bing.com</a>

3.&nbsp; Enter _Telerik_ in the search box and click the __Search__ button.

4.&nbsp; Enable hover over highlighting by clicking Highlight Element in the Test Studio Recorder.

![Enable hover over][1]

5.&nbsp; In the recording browser window, hover over the element against which to verify. Choose **Quick Steps > Verify - text contains** entry.

![highlight telerik][2]]

6.&nbsp; The Verify step is added to the test.

![test steps][3]]
<br />
<br />
<br />
**See Also...**

* <a href="/features/recorder/advanced-recording-tools/element-steps/verifications/advanced-verification" target="_blank">Advanced verification</a>

[1]: /img/features/recorder/advanced-recording-tools/element-steps/verifications/quick-verification/fig1.png
[2]: /img/features/recorder/advanced-recording-tools/element-steps/verifications/quick-verification/fig2.png
[3]: /img/features/recorder/advanced-recording-tools/element-steps/verifications/quick-verification/fig3.png
